.weather {
  width: 18.75rem;
  border-radius: 5px;
  box-shadow: 10px -2px 20px rgb(0 0 0 / 30%);
  color: #fff;
  background-color: #3a86ff;
  margin: 1.25rem auto 0 auto;
  padding: 0 20px 20px 20px;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city-name{
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  margin: 0;
  letter-spacing: 1px;
}

.weather-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  margin: 0;
}

.weather-icon {
  width: 6.25rem;
}

.temp {
  font-weight: 500;
  font-size: 4.375em;
  width: auto;
  letter-spacing: -1px;
  margin: .625rem 0;
}

.details {
  width: 100%;
  padding-left: 1.25rem;
}

.param-row {
  display: flex;
  justify-content: space-between;
}

.param-label {
  text-align: left;
  font-weight: 400;
  font-size: .75em;
}

.param-value {
  text-align: right;
  font-weight: 500;
  font-size: .75em;
}

